.title {
  font-size: 2.4rem;

  color: #b1a21e;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #1a1a1a;
  margin-bottom: 1rem;
}
.wrapper {
  margin-top: 1rem;
  background-color: var(--black-primary);
  color: var(--white-primary);
}
