.wrapper {
  padding-top: 8.1rem;
  background-color: var(--black-primary);
  color: var(--white-primary);
}

.container {
  max-width: 120rem;
  margin: auto;
  min-height: 500px;
}
.inp-search {
  height: 4rem;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 1.1rem 1.7rem;
  color: #7a7a7a;
}

.result-title {
  color: aliceblue;
  margin: 1.5rem 0;
}

.search-box {
  position: relative;
}
.spinner {
  position: absolute;
  top: 50%;
  right: 10px;
  animation: spinner 1s linear infinite;

  @keyframes spinner {
    from {
      transform: translateY(-50%) rotate(0);
    }

    to {
      transform: translateY(-50%) rotate(360deg);
    }
  }
}
